<!DOCTYPE HTML>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>IDC - describe image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google-signin-client_id" content=""/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="tools.js"></script>
    <script src="template.js"></script>
    <link rel="stylesheet" type="text/css" href="custom_styles.css">
</head>



<body background="bg.png">
<div class="navBar">Here navbar should be loaded</div>

<!--<div >-->
    <!--<div class="g-signin2 topPanel" data-onsuccess="onSignIn">    </div>-->
    <!--<button type="button" class="btn btn-default btn-sm topPanel" onclick="signOut();">-->
        <!--<span class="glyphicon glyphicon-log-out"></span> Log out-->
    <!--</button>-->
<!--</div>-->
<h1><b><u>Describe image using one word:</u></b></h1>
<br>
    <div name="ImageDiv" class="photo"><img src="Loading_icon.gif"></div>
    <style type="text/css">

    </style>
<br>
<form name="description_form" action="/image" method="post">
<input name="image_description" type="text"/>
<button type="submit">Commit!</button>

</form>
</body>


</html>